<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cigna Project">
<!--   <test name="Chrome Test" thread-count="4" parallel="classes">
  	<parameter name="browsername" value = "chrome"/>
    <classes>
    <class name="com.cigna.testcases.TC001"/>
      <class name="com.cigna.testcases.TC002"/>
    </classes>
  </test> Test
   -->
  
  <test name="FF Test">
  	<parameter name="browsername" value = "firefox"/>
    <classes>
    <class name="com.cigna.testcases.TC001"/>
      <class name="com.cigna.testcases.TC002"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
